extends ../../__template

block var
    -
        site='work'
        subsite='prozedural'
        description='Prozedurale Projekte von Noah Horlacher'

block content
    article.beispiele
        h1.title prozedural
        p.subtitle Experimente mit prozeduralen Inhalten
        hr.center
        p.quote.
            Meine Faszination für verschiedene Kunstformen trieb mich
            dazu mit einer Mischung aus Kunst und Programmieren zu
            experimentieren. Oft experimentiere ich mit Perlin oder
            Simplex Noise und auch mit stochastischer (computererzeugter)
            Musik.
        grid.img
            item(style="background-image: url(data/terrain.gif)")
                figcaption Mit Perlin Noise erzeugte 3D-Landschaft
            br
            item(style="background-image: url(data/loop.gif)")
                figcaption Perlin Noise Loop
            br
            item(style="background-image: url(data/flowfield.gif)")
                figcaption Perlin Noise Flowfield
        hr.center(style="margin: 4rem auto 4rem auto")
        p.body.center #[strong Beispiel:] Computergenerierte Musik & Visuals
        video(width="320" height="240" controls).
            #[source(src="data/latenight.mp4" type="video/mp4")]
            Your browser does not support the video tag.
        br
        br
        br
        p.copy(style="margin-bottom: 1rem").
            Die Musik in diesem Video wurde durch einen eigenen und im
            Grunde simplen Algorithmus erzeugt:
        ol.copy(style="margin-bottom: 4rem")
            li Aus einer Liste von Tonleitern wird eine Tonleiter wie zum Beispiel «Pentatonisch Moll» ausgewählt
            li Aus dieser Tonleiter werden eine zufällige Anzahl Noten rausgepickt
            li Jede Note bekommt eine zufällige Spieldauer, so wird ein Rhythmus erzeugt
            li Verschiedene Drum-Rhythmen wurden vordefiniert, wovon zufällig einer gewählt wird
        p.copy.
            Diese Methode kann relativ schnell «zufällige» Musik erzeugen,
            jedoch klingt das Produkt meist willkürlich und die Melodie hat oft keinen roten Faden.
            Dies würde sich z.B. durch Machine Learning oder einen statistischen Ansatz lösen lassen.