* {
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
          overflow-x: hidden;
          width: 100%;
          margin: auto;
          background-color: rgb(250, 250, 250);
}

#wrapper {
          background-color: rgb(250, 250, 250);
}

h1, .title {
          font-family: 'Ubuntu Mono', monospace;
          font-size: 2em;
          text-align: center;
              letter-spacing: 0.04em;
}

h2, .subtitle {
          font-family: 'Encode Sans Expanded', sans-serif;
          font-size: 1em;
          text-align: center;
}

p, ul, li, center, figcaption {
          font-family: 'Encode Sans Expanded', sans-serif;
}

a, ul a, li a {
          text-decoration: none;
          font-family: 'Encode Sans Expanded', sans-serif;
          cursor: pointer;
          color: #ffa400;
          font-weight: 900;
}

a:hover, ul a:hover, li a:hover {
          text-decoration: underline;
}

#backtotop {
          position: fixed;
          bottom: calc(100% + 2.5em);
          right: 2.5em;
          width: 2.5em;
          height: 2.5em;
          background: #7000a0;
          background: -moz-linear-gradient(left, #7000a0 0%, #5a00a3 100%);
          background: -webkit-linear-gradient(left, #7000a0 0%, #5a00a3 100%);
          background: linear-gradient(to right, #7000a0 0%, #5a00a3 100%);
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7000a0', endColorstr='#5a00a3', GradientType=1);
          transition: bottom 1s, opacity 0.5s;
          border-radius: 5px;
          z-index: 2;
          opacity: 0.87;
          -webkit-box-shadow: 0px 2px 5px 0px rgba(90, 0, 163, 0.29);
          -moz-box-shadow: 0px 2px 5px 0px rgba(90, 0, 163, 0.29);
          box-shadow: 0px 2px 5px 0px rgba(90, 0, 163, 0.29);
}

#backtotop.notontop {
          bottom: 2.5em;
          right: 2.5em;
          cursor: pointer;
}

#backtotop.notontop:hover {
          opacity: 1;
}

#arrowup {
          background-position: center;
          background-size: 90%;
          background-repeat: no-repeat;
          background-image: url('../images/resources/backtotop.svg');
          width: 100%;
          height: 100%;
}

nav {
          z-index: 3;
          display: block;
          padding: 1em 3em;
          background: #7000a0;
          background: -moz-linear-gradient(left, #7000a0 0%, #5a00a3 100%);
          background: -webkit-linear-gradient(left, #7000a0 0%, #5a00a3 100%);
          background: linear-gradient(to right, #7000a0 0%, #5a00a3 100%);
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7000a0', endColorstr='#5a00a3', GradientType=1);
          opacity: 1;
          transition: opacity 0.5s, width 0.5s, height 0.5s, left 0.5s, top 0.5s;
          position: relative;
          height: 4em;
          -webkit-box-shadow: 0px 3px 11px 0px rgba(90, 0, 163, 0.3);
          -moz-box-shadow: 0px 3px 11px 0px rgba(90, 0, 163, 0.3);
          box-shadow: 0px 3px 11px 0px rgba(90, 0, 163, 0.3);
}

nav .logoCont {
          text-align: left;
          display: inline-block;
          height: 2em;
}

nav .logolink {
          display: inline-block;
          height: 2em;
}

nav .logolink .logo {
          height: 2em;
          width: 2em;
}

nav .navlinks {
          display: inline-block;
          text-align: right;
          position: absolute;
          right: 3em;
          top: 1.5em;
}

nav .logolink .logo .st1 {
          fill: transparent;
          transition: fill 0.5s;
}

nav .logolink:hover .logo .st1 {
          fill: white;
}

.st0 {
          fill: #FFFFFF;
}

nav .navlink {
          padding: 0.5em;
          margin-right: 0.5em;
          color: rgb(250, 250, 250);
          background-color: transparent;
          opacity: 0.87;
          transition: opacity 0.5s, background-color 0.5s, color 0.5s;
          font-weight: 100;
          border-radius: 5px;
}

nav .navlink:hover, nav .navlink.active {
          opacity: 1;
          background-color: rgb(250, 250, 250);
          text-decoration: none;
          color: #5A00A3;
}

section {
          margin: auto;
          text-align: left;
          padding: 2em 10%;
          max-width: 1000px;
}

.shortpost {
          display: block;
          margin: auto;
          margin-bottom: 2em;
          text-align: center;
          padding: 1em;
          width: 100%;
          opacity: 0.87;
          transition: opacity 0.5s, transform 0.5s;
          text-decoration: none;
          overflow: hidden;
          transform: scale(0.95);
}

.shortpost:hover {
          opacity: 1;
          transform: scale(1);
          text-decoration: none;
}

.shortpost .thumbnail {
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
          padding: 4em 10%;
          border-radius: 5px;
}

.shortpost .title {
          margin-top: 0;
          font-size: 1.2em;
}

.shortpost .subtitle {
          font-size: 0.8em;
          margin-bottom: 0;
}

.fullwidth {
          width: 100%;
}

.halfwidth {
          width: 50%;
}

.quarterwidth {
          width: 25%;
}

.eighthwidth {
          width: 12.5%;
}

.profilepic{
          width: 16em;
          height: 16em;
          margin: 0 auto;
          display: block;
}

.picture {
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
          width: 100%;
          padding-bottom: 100%;
}

.picture.halfwidth {
          width: 50%;
          padding-bottom: 50%;
}

.picture.quarterwidth {
          width: 25%;
          padding-bottom: 25%;
}

.picture.eighthwidth {
          width: 12.5%;
          padding-bottom: 12.5%;
}

.round {
          border-radius: 5px;
          overflow: hidden;
}

.aboutme .picture {
          margin: auto;
}

.whitetext {
          color: white;
}

.whitetext .fulllink {
          color: white;
}

.aboutme {
          padding-bottom: 0;
}

.aboutme .picture {
          width: 14em;
          padding-bottom: 14em;
}

.fullpost .picture.author {
          margin: 5em auto 1em auto;
          width: 8em;
          padding-bottom: 8em;
}

.lrlist {
          display: inline-block;
}

.lrlist i {
          float: left;
}

.lrlist p {
          float: right;
          margin: 0;
          font-size: 14px;
}

.some {
          color: black;
          opacity: 0.6;
          text-decoration: none;
          transition: opacity 0.5s, color 0.5s;
          margin: 0 0.2em;
}

.some:hover {
          text-decoration: none;
          color: rgb(90, 0, 163);
          opacity: 1;
}

.showallcont {
          width: 100%;
          text-align: center;
}

.showall {
          margin: 1em auto;
          color: white;
          text-align: center;
          display: inline-block;
          padding: 0.5em 1.5em;
          border-radius: 5px;
          background-color: rgba(0, 0, 0, 0.5);
          opacity: 0.6;
          transition: opacity 0.5s;
}

.showall:hover {
          text-decoration: none;
          opacity: 1;
}

.mtop {
          margin-top: 2em;
          text-align: center;
}

.allposts {
          padding-top: 4em;
}

.fullpost {
          padding-top: 4em;
}

.aboutme {
          padding-top: 4em;
}

.fullpost .thumbnail {
          background-size: cover;
          background-position: center;
          padding: 10em 0;
          margin: 2em auto;
          position: relative;
}

.fullpost .title, .fullpost .subtitle, .fullpost h1, .fullpost h2 {
          text-align: left;
}

.fullpost .post {
          text-align: left;
}

.fullpost ul, .fullpost li, .fullpost ol {
          text-align: left;
}

.centerlist ul, .centerlist ol {
          width: auto;
          margin: auto;
          display: inline-block;
}

.codepreview {
          overflow: hidden;
          border-radius: 5px;
          margin-top: 2em;
          margin-bottom: 0;
          width: 100%;
}

pre {
          width: calc(100% - 1px);
          height: 500px;
          text-align: left;
          overflow: scroll;
          margin: 0 auto;
}

li.L0, li.L1, li.L2, li.L3, li.L5, li.L6, li.L7, li.L8 {
          list-style-type: decimal !important;
}

li.L0, li.L1, li.L2, li.L3, li.L4, Li.L5, li.L6, li.L7, li.L8, li.L9 {
          font-size: 0.8em;
          font-family: 'Ubuntu Mono', monospace;
}

.name {
          font-weight: 900;
}

.downloadbutton {
          width: 100%;
          display: block;
          padding: 1em;
          text-align: center;
          color: white;
          margin-top: 0.5em;
          background: #7000a0;
          background: -moz-linear-gradient(left, #7000a0 0%, #5a00a3 100%);
          background: -webkit-linear-gradient(left, #7000a0 0%, #5a00a3 100%);
          background: linear-gradient(to right, #7000a0 0%, #5a00a3 100%);
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7000a0', endColorstr='#5a00a3', GradientType=1);
          opacity: 0.87;
          transition: opacity 0.5s;
}

.downloadbutton:hover {
          text-decoration: none;
          opacity: 1;
}

.date {
          opacity: 0.4;
          font-weight: 900;
}

.metadata {
          opacity: 0.6;
          font-size: 0.8em;
}

.bodycopy {
          font-size: 1.1em;
          line-height: 1.3em;
}

.msngrlnk svg {
          width: 27.4333px;
          margin-bottom: -3px;
}

.msngrlnk svg path {
          fill: black;
          transition: fill 0.5s;
}

.msngrlnk:hover svg path {
          fill: rgb(90, 0, 163);
}

.postpicture {
          position: relative;
          width: 100%;
          margin: 2em auto 3em auto;
}

.postpicture img {
          width: 100%;
          display: block;
}

.postpicture figcaption {
          display: block;
          font-size: 0.8em;
          letter-spacing: 0.01em;
          opacity: 0.6;
          background-color: rgba(0, 0, 0, 0.6);
          color: white;
          cursor: default;
          transition: opacity 0.5s;
          padding: 1em;
          position: absolute;
          bottom: 0;
          margin: 0 auto;
}

.postpicture:hover figcaption {
          opacity: 1;
}

.ending {
          text-align: center;
}

.postsome {
          text-align: center;
}

.mobileonly {
          display: none;
}

hr {
          height: 2px;
          border: 0;
          background-color: rgba(0, 0, 0, 0.2);
          margin: 2em auto 6em auto;
}

footer {
          text-align: center;
          padding: 2.8em 3em 3em 3em;
          background-color: rgba(0, 0, 0, 0.8);
          color: rgb(250, 250, 250);
}

footer .some {
          color: rgb(250, 250, 250);
          opacity: 0.6;
          transition: opacity 0.5s;
}

footer .some:hover {
          color: rgb(250, 250, 250);
          opacity: 1;
}

.printinfo{
          display: none;
}

@media screen and (max-width: 900px) {
          .mobileonly {
                    display: inline-block;
          }
}

@media print {
          header, .downloadbutton, .postsome, .showall, footer, #backtotop {
                    display: none;
          }
          .postpicture figcaption {
                    opacity: 0.87;
          }
          .prettyprint {
                    width: auto;
                    height: auto;
                    overflow: visible;
                    word-wrap: break-word !important;
                    white-space: pre-wrap;
                    background-color: white !important;
          }

          section{
                    padding: 0;
          }

          section h1.title:first-of-type{
                    margin-top: 0;
          }

          body{
                    overflow: visible;
                    background-color: white;
          }

          #wrapper{
                    background-color: white;
          }

          hr{
                    margin: 1em auto 2em auto;
          }

          .profilepic{
                    margin: 0 auto 2em auto;
          }

          .printinfo{
                    display: block;
                    text-align: center;
          }

          .newest{
                    display: none;
          }
}
