* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
     box-sizing: border-box;
}

body{
          overflow-x: hidden;
}

h1, .title{
          font-family: 'Ubuntu Mono', monospace;
          font-size: 1.7em;
}

h2, .subtitle{
          font-family: 'Encode Sans Expanded', sans-serif;
          font-size: 1em;
}

p, ul, li, center{
          font-family: 'Encode Sans Expanded', sans-serif;
}

a, ul a, li a {
          text-decoration: none;
          font-family: 'Encode Sans Expanded', sans-serif;
          cursor: pointer;
          color: rgb(90, 0, 163);
}

a:hover, ul a:hover, li a:hover{
          text-decoration: underline;
}

nav {
          top: 0;
          z-index: 1000;
          width: 100%;
          position: fixed;
          padding: 1em 0;
          background-color: white;
          text-align: center;
          -webkit-box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.08);
          -moz-box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.08);
          opacity: 1;
          transition: opacity 0.5s, padding 0.5s;
}

nav.notontop{
          padding: 0.3em 0;
          opacity: 0.3;
}

nav:hover{
          opacity: 1;
          padding: 1em 0;
}

nav a {
          font-family: 'Ubuntu Mono', monospace;
          text-decoration: none;
          font-size: 2em;
          color: rgba(0, 0, 0, 0.87);
}

section{
          margin: auto;
          text-align: center;
          padding: 2em 10%;
          max-width: 1000px;
}

.shortpost{
          display: block;
          margin: auto;
          margin-bottom: 2em;
          text-align: center;
          padding: 0;
          width: 50%;
          opacity: 0.87;
          transition: opacity 0.5s, transform 0.5s;
          text-decoration: none;
          overflow: hidden;
          border-radius: 5px;
          transform: scale(0.95);
}

.shortpost:hover{
          opacity: 1;
          transform: scale(1);
          text-decoration: none;
}

.shortpost .thumbnail{
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
          padding: 2em 10%;
}

.shortpost .title{
          margin-top: 0;
}

.shortpost .subtitle{
          font-size: 1em;
          margin-bottom: 0;
}

.fullwidth{
          width: 100%;
}

.halfwidth{
          width: 50%;
}

.quarterwidth{
          width: 25%;
}

.eighthwidth{
          width: 12.5%;
}

.picture{
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
          width: 100%;
          padding-bottom: 100%;
}

.picture.halfwidth{
          width: 50%;
          padding-bottom: 50%;
}

.picture.quarterwidth{
          width: 25%;
          padding-bottom: 25%;
}

.picture.eighthwidth{
          width: 12.5%;
          padding-bottom: 12.5%;
}

.round{
          border-radius: 5px;
}

.aboutme .picture{
          margin: auto;
}
.whitetext{
          color: white;
}

.whitetext .fulllink{
          color: white;
}

.aboutme{
          padding-bottom: 0;
}

.aboutme .picture{
          width: 14em;
          padding-bottom: 14em;
}

.fullpost .picture.author{
          margin: 5em auto 1em auto;
          width: 8em;
          padding-bottom: 8em;
}

.lrlist{
          display: inline-block;
}

.lrlist i{
          float: left;
}

.lrlist p{
          float: right;
          margin: 0;
          font-size: 14px;
}

.some{
          color: black;
          opacity: 0.6;
          text-decoration: none;
          transition: opacity 0.5s, color 0.5s;
          margin: 0 0.2em;
}

.some:hover{
          text-decoration: none;
          color: rgb(90, 0, 163);
          opacity: 1;
}

.showall{
          margin-top: 1em;
          color: black;
}

.mtop{
          margin-top: 2em;
}

.fullpost{
          padding-top: 6em;
}

.fullpost .thumbnail{
          background-size: cover;
          background-position: center;
          padding: 3em;
          margin-bottom: 2em;
}

.fullpost .thumbnail .title{
          position: relative;
          top: 50%;
}

.fullpost .post{
          text-align: left;
}

.fullpost ul, .fullpost li, .fullpost ol{
          text-align: left;
}

.centerlist ul, .centerlist ol{
          width: auto;
          margin: auto;
          display: inline-block;
}

pre{
          width: 100%;
          text-align: left;
}

.name{
          font-weight: 900;
}

.date{
          opacity: 0.4;
          font-weight: 900;
}
