extends ../template.pug

block var
    -
        site='work'
        subsite='englisch'
        description='Englischwebsite von Noah Horlacher'

block content
    article.beispiele
        h1.title englisch
        p.subtitle Lernwebsite — Proof of Concept
        hr.center
        p.quote.
            Diese Website schlägt poetische und archaische Wörter auf Englisch vor.
            Es ist momentan ein Proof of Concept — die Datenbank beinhaltet erst 18 Sätze.
        a#englishvocab(href="/work/data/englishvocab")
        br
        br