extends ../template.pug

block var
    -
        site='work'
        subsite='werbung'
        description='Werbung von Noah Horlacher'

block content
    article.beispiele
        h1.title werbung
        p.subtitle Entwicklung digitaler Werbemittel
        hr.center
        p.quote.
            Ein Gebiet in dem ich viel Potential sehe ist die digitale
            Werbebranche. Sie ist bereit für neue Technologien und eine
            Komplettüberholung — und ich wirkte bereits mit.
        div.project__desc
            p.copy.
                #[strong Projekt:] De Ville Trésor — digitale Werbemittel#[br]
                #[strong Kunde:]#[a(href="http://omegawatches.com") Omega]#[br]
                #[strong Aufgabenstellung:] Vorgegebene Designelemente zu animierten Werbemitteln umwandeln#[br]
                #[strong Herausforderungen:] Starke Komprimierung, Rückwärtskompatibilität#[br]
            p.copy.center(style="margin-bottom: 1rem")#[strong Beispielsujet:]#[br]
        iframe.copy(src="/work/data/omega_ad/index.html" width="300" height="250" style="margin-left: calc( 50% - 150px)")
        br
        br
        br
        hr.center
        p.center(style="margin-bottom: 2rem") Mit wem ich, unter anderen, bereits die Freude hatte zu kooperieren:
        grid.small(style="margin-bottom: 6rem")
            item.partner(style="background-image: url('/data/img/logo/oekk.svg')")
            item.partner(style="background-image: url('/data/img/logo/omega.svg')")
            item.partner(style="background-image: url('/data/img/logo/energy_challenge.svg')")
            item.partner(style="background-image: url('/data/img/logo/adx.svg')")