extends __template

block var
    -
        site = 'noah'
        footer = false

block content
    section#noah
        div#portrait&attributes(tiltit)
        container.title
            h1.title noah
            p.
                Selbstständig, flexibel, vielseitig.#[br]
                So würden mich andere beschreiben.
            btn.glow.rounded(link="work") meine projekte