@import __normalize.sass
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,700,900|Roboto:300,300i,400,400i,700,700i,900')

body, html
	background: #fff
	margin: 0
	width: 100%
	overflow-x: hidden

nav, btn, img, #englishvocab
	-webkit-user-select: none
	-moz-user-select: none
	-ms-user-select: none
	user-select: none

img
	width: 100%

*
	text-rendering: optimizelegibility
	font-family: 'Nunito', sans-serif
	-webkit-box-sizing: border-box
	box-sizing: border-box

h1, h2, h3
	color: #0d0d26
	font-weight: 300
	font-family: 'Nunito Sans', sans-serif

h1
	font-size: 7em
	font-weight: 900
	letter-spacing: -0.01rem

p
	line-height: 1.5
	font-size: 1rem
	font-weight: 400
	color: #1d1d58
	-webkit-hyphens: auto
	-ms-hyphens: auto
	hyphens: auto

p.subtitle
	display: block
	margin-top: 0
	margin-bottom: 2rem
	opacity: 0.8
	font-size: 0.9rem

a
	color: #00e

hr
	background: #1d1d58
	border: none
	height: 1px
	width: 50%
	margin: 3rem 0 7rem 0

hr.fullsize
	width: 100%

hr.colored
	background: #00e

hr.center
	margin: 1rem auto 4rem auto

header
	background: #fff
	width: 100%
	height: 100px
	text-align: center
	display: -webkit-box
	display: -ms-flexbox
	display: flex
	-webkit-box-pack: justify
	-ms-flex-pack: justify
	justify-content: space-between
	-webkit-box-align: stretch
	-ms-flex-align: stretch
	align-items: stretch
	-ms-flex-wrap: nowrap
	flex-wrap: nowrap

header nav
	display: inline-block
	width: auto

header nav:first-of-type
	margin-left: 5vw

header nav:last-of-type
	margin-right: 5vw

header nav a
	line-height: 100px
	text-decoration: none
	margin: 0 1.5rem
	opacity: 0.6

header nav a.active, header nav a:hover
	opacity: 1
	color: #00e

header nav a.active
	font-weight: 800

.breadcrumbs
	color: #1d1d58
	display: block
	text-align: left
	width: 100%
	padding: 1rem calc(5vw + 3rem)

	& a
		text-decoration: none
		opacity: 0.6

		&:hover
			opacity: 1

section, article
	padding: 2rem 20%
	width: 100%
	min-height: calc(100vh - 100px)
	-webkit-box-sizing: border-box
	box-sizing: border-box
	display: -webkit-box
	display: -ms-flexbox
	display: flex
	-ms-flex-wrap: nowrap
	flex-wrap: nowrap
	-ms-flex-pack: distribute
	justify-content: space-around
	-webkit-box-align: start
	-ms-flex-align: start
	align-items: flex-start

section h1.title, article h1.title
	font-size: 5rem
	margin-top: 0
	margin-bottom: 1rem

section p, article p
	text-align: left

section p.copy, article p.copy
	width: 70%
	margin: 1rem 0

section p.quote, article p.quote
	width: 70%
	font-size: 1.5rem
	margin: 1rem auto 4rem auto
	text-align: justify

section container.title, article container.title
	display: -webkit-box
	display: -ms-flexbox
	display: flex
	-webkit-box-orient: vertical
	-webkit-box-direction: normal
	-ms-flex-direction: column
	flex-direction: column
	-ms-flex-wrap: nowrap
	flex-wrap: nowrap
	-webkit-box-pack: start
	-ms-flex-pack: start
	justify-content: flex-start
	-webkit-box-align: start
	-ms-flex-align: start
	align-items: flex-start

section#noah, article#noah
	padding: 6rem 20%
	-webkit-box-pack: justify
	-ms-flex-pack: justify
	justify-content: space-between
	-webkit-box-align: start
	-ms-flex-align: start
	align-items: flex-start

section#noah #portrait, article#noah #portrait
	position: relative
	top: 1.8rem
	width: 17.7rem
	height: 17.7rem
	background: url(/data/img/noah_horlacher.jpg) center/cover no-repeat

section#noah container.title, article#noah container.title
	-ms-flex-preferred-size: 55%
	flex-basis: 55%

section#weg container, article#weg container
	-webkit-box-pack: center
	-ms-flex-pack: center
	justify-content: center
	-webkit-box-align: center
	-ms-flex-align: center
	align-items: center

section#weg container.title, article#weg container.title
	margin-bottom: 8rem

section#weg hr, article#weg hr
	margin: 0.5em 0 0.5em -50%
	width: 200%

section#weg .subtitle, article#weg .subtitle
	text-align: center

section#dev, section#art, article#dev, article#art
	display: block

section#dev hr, section#art hr, article#dev hr, article#art hr
	margin: 2rem 0 4rem 0

section.beispiele, article.beispiele
	min-height: calc(100vh - 100px - 3.15rem)

article
	display: block

article .title, article .subtitle
	text-align: center

article p.copy
	margin: 1rem auto 4rem auto

container
	display: inline-block
	width: auto

btn
	display: block
	background: #00e
	font-size: 0.9rem
	letter-spacing: 2px
	font-weight: 300
	color: #fff
	margin-top: 5rem
	padding: 0.8rem 1.3rem
	cursor: pointer
	-webkit-transition: -webkit-box-shadow 0.2s
	transition: -webkit-box-shadow 0.2s
	transition: box-shadow 0.2s
	transition: box-shadow 0.2s, -webkit-box-shadow 0.2s

btn.glow:hover
	-webkit-box-shadow: 0 3px 6px rgba(0, 0, 238, 0.16), 0 3px 6px rgba(0, 0, 238, 0.23)
	box-shadow: 0 3px 6px rgba(0, 0, 238, 0.16), 0 3px 6px rgba(0, 0, 238, 0.23)

btn.secondary
	color: #00e
	border: solid #00e 2px
	background: transparent
	padding: 0.5rem
	line-height: 0.9rem
	font-weight: 600
	position: relative

btn.secondary:hover
	background: #00e
	color: #fff

btn.secondary.plus::after
	content: '+'
	position: absolute
	right: 0.5rem
	top: 0
	font-size: 0.9rem
	line-height: 1.8rem
	font-weight: 600

btn.rounded
	overflow: hidden
	border-radius: 2px

card
	background: #fff
	display: block
	width: 30%
	margin: 0
	text-align: left
	color: #030317
	padding: 2.5rem
	-webkit-box-shadow: 0 3px 6px rgba(0, 0, 238, 0.08), 0 3px 6px rgba(0, 0, 238, 0.115)
	box-shadow: 0 3px 6px rgba(0, 0, 238, 0.08), 0 3px 6px rgba(0, 0, 238, 0.115)
	-webkit-transition: -webkit-box-shadow 0.5s
	transition: -webkit-box-shadow 0.5s
	transition: box-shadow 0.5s
	transition: box-shadow 0.5s, -webkit-box-shadow 0.5s
	-webkit-transform-style: preserve-3d
	transform-style: preserve-3d

card *
	display: block

card container
	-webkit-transform-style: preserve-3d
	transform-style: preserve-3d

card h1, card container h1
	font-size: 1.25rem
	margin-top: 0
	-webkit-transform: translateZ(40px)
	transform: translateZ(40px)

card hr, card container hr
	background-color: #1d1d58
	-webkit-transform: translateZ(10px)
	transform: translateZ(10px)

card p, card container p
	margin: 0
	-webkit-transform: translateZ(25px)
	transform: translateZ(25px)

card btn, card container btn
	margin-top: 3rem
	-webkit-transform: translateZ(20px)
	transform: translateZ(20px)

	card: hover
	-webkit-box-shadow: 0 14px 28px rgba(0, 0, 238, 0.125), 0 10px 10px rgba(0, 0, 238, 0.11)
	box-shadow: 0 14px 28px rgba(0, 0, 238, 0.125), 0 10px 10px rgba(0, 0, 238, 0.11)

.center
	text-align: center

grid
	display: -webkit-box
	display: -ms-flexbox
	display: flex
	-ms-flex-wrap: nowrap
	flex-wrap: nowrap
	-webkit-box-pack: space-evenly
	-ms-flex-pack: space-evenly
	justify-content: space-evenly
	-webkit-box-align: stretch
	-ms-flex-align: stretch
	align-items: stretch
	width: 100%
	margin: 0 auto

grid.small
	width: 60%

grid card
	display: -webkit-box
	display: -ms-flexbox
	display: flex
	-webkit-box-orient: vertical
	-webkit-box-direction: normal
	-ms-flex-direction: column
	flex-direction: column
	-webkit-box-pack: justify
	-ms-flex-pack: justify
	justify-content: space-between
	-ms-flex-preferred-size: 30%
	flex-basis: 30%
	background: #fff

grid card h1
	color: #0d0d26

grid card p
	color: #1d1d58

grid card btn
	background: #00e
	color: #fff
	opacity: 0.9

grid card:hover
	background: #00e

grid card:hover h1, grid card:hover p
	color: #fff

grid card:hover btn
	background: #fff
	color: #00e
	opacity: 1

grid item.partner
	width: 15%
	padding-bottom: 15%
	background-repeat: no-repeat
	background-position: center
	background-size: contain
	-webkit-filter: saturate(0)
	filter: saturate(0)
	opacity: 0.7
	-webkit-transition: opacity 0.5s, -webkit-filter 0.5s
	transition: opacity 0.5s, -webkit-filter 0.5s
	transition: filter 0.5s, opacity 0.5s
	transition: filter 0.5s, opacity 0.5s, -webkit-filter 0.5s

grid item.partner:hover
	-webkit-filter: saturate(1)
	filter: saturate(1)
	opacity: 1

grid.between
	-webkit-box-pack: justify
	-ms-flex-pack: justify
	justify-content: space-between

grid.img
	color: white

grid.img item
	-ms-flex-preferred-size: 30%
	flex-basis: 30%
	padding-bottom: 30%
	position: relative
	background-position: center
	background-size: cover
	opacity: 0.9
	-webkit-transition: opacity 0.5s
	transition: opacity 0.5s
	overflow: hidden
	border-radius: 2px

grid.img item figcaption
	font-size: 0.8rem
	text-align: center
	position: absolute
	bottom: 0
	-webkit-transform: translateY(100%)
	transform: translateY(100%)
	padding: 1rem
	width: 100%
	background: black
	-webkit-transition: -webkit-transform 0.2s
	transition: -webkit-transform 0.2s
	transition: transform 0.2s
	transition: transform 0.2s, -webkit-transform 0.2s

grid.img item:hover
	opacity: 1

grid.img item:hover figcaption
	-webkit-transform: translateY(0)
	transform: translateY(0)

grid.fullsize
	width: 100%
	-webkit-box-pack: justify
	-ms-flex-pack: justify
	justify-content: space-between
	-webkit-box-align: center
	-ms-flex-align: center
	align-items: center

grid.fullsize item
	opacity: 0.6
	-ms-flex-preferred-size: 20%
	flex-basis: 20%
	padding-bottom: 20%
	-webkit-box-shadow: 0 3px 6px rgba(0, 0, 238, 0.08), 0 3px 6px rgba(0, 0, 238, 0.115)
	box-shadow: 0 3px 6px rgba(0, 0, 238, 0.08), 0 3px 6px rgba(0, 0, 238, 0.115)
	-webkit-transition: opacity 0.5s, -webkit-box-shadow 0.5s
	transition: opacity 0.5s, -webkit-box-shadow 0.5s
	transition: box-shadow 0.5s, opacity 0.5s
	transition: box-shadow 0.5s, opacity 0.5s, -webkit-box-shadow 0.5s

grid.fullsize item.active
	opacity: 1
	-ms-flex-preferred-size: 40%
	flex-basis: 40%
	padding-bottom: 40%

grid.fullsize item:hover
	-webkit-box-shadow: 0 14px 28px rgba(0, 0, 238, 0.125), 0 10px 10px rgba(0, 0, 238, 0.11)
	box-shadow: 0 14px 28px rgba(0, 0, 238, 0.125), 0 10px 10px rgba(0, 0, 238, 0.11)

grid.fullsize.alt
	width: 70%

grid.fullsize.alt item
	-webkit-box-shadow: none
	box-shadow: none

timeline.rounded ul div
	overflow: hidden
	border-radius: 2px

timeline.rounded ul div p btn
	overflow: hidden
	border-radius: 2px

timeline ul
	padding: 0 0 50px 0

timeline ul li
	list-style-type: none
	position: relative
	width: 0.2rem
	margin: 0 auto
	background: #00e
	padding-bottom: 6rem

timeline ul li:last-of-type
	background: transparent

timeline ul li::before
	content: ''
	position: absolute
	top: -0.5rem
	left: -0.4rem
	width: 1rem
	height: 1rem
	-webkit-transform: rotate(45deg) scale(0)
	transform: rotate(45deg) scale(0)
	background: transparent
	-webkit-transition: all 0.5s ease-in-out
	transition: all 0.5s ease-in-out

timeline ul li.visible div
	-webkit-transform: none
	transform: none
	visibility: visible
	opacity: 1
	-webkit-box-shadow: 0 3px 6px rgba(0, 0, 238, 0.08), 0 3px 6px rgba(0, 0, 238, 0.115)
	box-shadow: 0 3px 6px rgba(0, 0, 238, 0.08), 0 3px 6px rgba(0, 0, 238, 0.115)

timeline ul li.visible div:hover
	-webkit-box-shadow: 0 14px 28px rgba(0, 0, 238, 0.125), 0 10px 10px rgba(0, 0, 238, 0.11)
	box-shadow: 0 14px 28px rgba(0, 0, 238, 0.125), 0 10px 10px rgba(0, 0, 238, 0.11)

timeline ul li.visible::before
	background: #00e
	-webkit-transform: rotate(45deg) scale(1)
	transform: rotate(45deg) scale(1)

timeline ul li div
	position: relative
	top: -1rem
	width: 19rem
	visibility: hidden
	opacity: 0
	-webkit-transition: all 0.5s ease-in-out
	transition: all 0.5s ease-in-out
	color: #1d1d58
	background: #fff

timeline ul li div time
	font-family: 'Nunito Sans', sans-serif
	display: block
	font-size: 1.8rem
	font-weight: 400
	color: #fff
	padding: 0.6rem 1rem
	letter-spacing: 2px
	background: #00e

timeline ul li div time h2
	font-weight: 100
	color: #fff
	font-size: 1rem
	margin: 0 0 0.3rem 0
	opacity: 0.93

timeline ul li div p
	margin: 0
	padding: 0.6rem 1rem
	font-size: 1rem
	line-height: 1.61rem

timeline ul li div p btn
	margin: 2rem 0 0.4rem 0
	width: auto

timeline ul li div p btn.even
	margin: 0.4rem 0

timeline ul li div::before
	content: ''
	position: absolute
	top: calc(1rem - 1px)
	width: 5rem
	height: 0
	border: dashed #00e 1px

timeline ul li:nth-child(odd) div
	left: 5rem

timeline ul li:nth-child(odd) div::before
	left: -5rem

timeline ul li:nth-child(even) div
	left: -24rem

timeline ul li:nth-child(even) div::before
	right: -5rem

accordion item, timeline ul li div accordion item
	margin: 1rem

accordion item btn, timeline ul li div accordion item btn
	width: calc(100% - 2rem)
	margin: 1rem auto 0 auto
	overflow: hidden
	border-radius: 2px

accordion item btn:first-of-type, timeline ul li div accordion item btn:first-of-type
	margin-top: 0

accordion item content, timeline ul li div accordion item content
	display: none
	margin: auto

accordion item content p, timeline ul li div accordion item content p
	width: calc(100% - 2rem)
	margin: 1rem auto 0 auto

accordion item content p.address, timeline ul li div accordion item content p.address
	border-left: solid #00e 5px

accordion item.active content, timeline ul li div accordion item.active content
	display: block

accordion item.active btn, timeline ul li div accordion item.active btn
	background: #00e
	color: #fff

accordion item.active btn::after, timeline ul li div accordion item.active btn::after
	-webkit-transform: rotate(45deg)
	transform: rotate(45deg)

footer
	padding: 8rem 4rem 4rem 4rem
	text-align: right

footer a
	display: inline-block
	color: #fff
	background: url(../../data/img/svg/arrow.svg) center/30% no-repeat, #00e
	text-decoration: none
	width: 3rem
	height: 3rem
	overflow: hidden
	border-radius: 2px
	-webkit-transition: -webkit-box-shadow 0.2s
	transition: -webkit-box-shadow 0.2s
	transition: box-shadow 0.2s
	transition: box-shadow 0.2s, -webkit-box-shadow 0.2s

footer a:hover
	-webkit-box-shadow: 0 3px 6px rgba(0, 0, 238, 0.16), 0 3px 6px rgba(0, 0, 238, 0.23)
	box-shadow: 0 3px 6px rgba(0, 0, 238, 0.16), 0 3px 6px rgba(0, 0, 238, 0.23)

ul.copy
	width: 70%
	margin: 0 auto

iframe
	border: 0
	margin: auto

article .project__desc
	width: 70%
	margin: 0 auto

video
	width: 100%
	height: auto

ol.copy, ul.copy
	padding-left: 15%

#englishvocab
	position: relative
	width: 40%
	padding-bottom: 40%
	margin: 1rem auto
	background: url('/work/englisch/data/englishvocab.png') center/contain no-repeat
	text-decoration: none
	display: block
	-webkit-box-shadow: 0 3px 6px rgba(0, 0, 238, 0.08), 0 3px 6px rgba(0, 0, 238, 0.115)
	box-shadow: 0 3px 6px rgba(0, 0, 238, 0.08), 0 3px 6px rgba(0, 0, 238, 0.115)
	-webkit-transition: -webkit-box-shadow 0.5s
	transition: -webkit-box-shadow 0.5s
	transition: box-shadow 0.5s
	transition: box-shadow 0.5s, -webkit-box-shadow 0.5s

	&::after
		width: 100%
		position: absolute
		top: 0
		left: 0
		display: block
		content: 'zur Seite'
		background: rgba(0, 0, 238, 0.5)
		color: #fff
		text-align: center
		text-decoration: none
		opacity: 0
		-webkit-transition: opacity 0.5s
		transition: opacity 0.5s

	&:hover
		cursor: pointer
		-webkit-box-shadow: 0 14px 28px rgba(0, 0, 238, 0.125), 0 10px 10px rgba(0, 0, 238, 0.11)
		box-shadow: 0 14px 28px rgba(0, 0, 238, 0.125), 0 10px 10px rgba(0, 0, 238, 0.11)

	&:hover::after
		opacity: 1

@media screen and (max-width: 1100px)
	section p, article p
		width: 100% !important

	section#noah, article#noah
		padding: 6rem 1rem

	section#noah
		-webkit-box-pack: space-evenly
		-ms-flex-pack: space-evenly
		justify-content: space-evenly

	section#noah container.title
		-ms-flex-preferred-size: auto
		flex-basis: auto

	section#dev grid
		-webkit-box-orient: vertical
		-webkit-box-direction: normal
		-ms-flex-direction: column
		flex-direction: column
		-webkit-box-pack: space-evenly
		-ms-flex-pack: space-evenly
		justify-content: space-evenly
		-webkit-box-align: start
		-ms-flex-align: start
		align-items: flex-start

	section#dev grid card
		margin: 2rem auto
		width: 50%

	section#dev grid card:first-of-type
		margin-top: 0

	article grid.small
		width: 100%

	article grid.img item
		opacity: 1 !important

	#englishvocab
		width: 70%
		padding-bottom: 70%
		margin: auto

	grid.img.fullsize.alt
		width: 100%

@media screen and (max-width: 650px)
	section, article, section#noah, article#noah
		padding: 4rem 2rem 4rem 2rem
		min-height: 0

	section#noah
		padding: 4rem 0
		-webkit-box-orient: vertical
		-webkit-box-direction: normal
		-ms-flex-direction: column
		flex-direction: column
		-webkit-box-pack: space-evenly
		-ms-flex-pack: space-evenly
		justify-content: space-evenly
		-webkit-box-align: center
		-ms-flex-align: center
		align-items: center

	section#noah #portrait
		width: 60%
		padding-bottom: 60%
		margin: 0 auto 4rem auto

	timeline ul li:nth-child(odd) div, timeline ul li:nth-child(even) div
		left: 0
		-webkit-transform: translateX(-50%)
		transform: translateX(-50%)

	timeline ul li:nth-child(odd) div::before, timeline ul li:nth-child(odd) div::after, timeline ul li:nth-child(even) div::before, timeline ul li:nth-child(even) div::after
		visibility: hidden

	footer
		text-align: center

	section#weg hr
		width: 100%
		margin: 0.5rem auto

	section#dev grid card
		width: 80%

	article .project__desc
		width: 100%

	article grid.small
		-webkit-box-orient: vertical
		-webkit-box-direction: normal
		-ms-flex-direction: column
		flex-direction: column
		-webkit-box-align: center
		-ms-flex-align: center
		align-items: center

	article grid.small item
		margin: 1rem 0
		width: 20%

	article grid.img, article grid.img.fullsize.alt
		-webkit-box-orient: vertical
		-webkit-box-direction: normal
		-ms-flex-direction: column
		flex-direction: column
		-webkit-box-align: center
		-ms-flex-align: center
		align-items: center

	article grid.img item, article grid.img item.active, article grid.img.fullsize.alt item, article grid.img.fullsize.alt item.active
		margin: 1rem 0
		width: 80%
		padding-bottom: 80%

	article grid.img.fullsize.alt item
		width: 50%
		padding-bottom: 50%

	container.breadcrumbs
		padding-left: 2rem
		padding-right: 2rem

	#englishvocab
		width: 80%
		padding-bottom: 80%

@media screen and (max-width: 420px)
	section#dev grid card
		width: 100%
		margin: 1rem auto

	section, article, section#noah, article#noah
		padding: 2rem 2rem 4rem 2rem
		min-height: 0

	section p, article p, section#noah p, article#noah p
		width: 100% !important

	section#noah, article#noah
		padding: 0 1rem 4rem 1rem
		-webkit-box-orient: vertical
		-webkit-box-direction: normal
		-ms-flex-direction: column
		flex-direction: column
		-webkit-box-pack: space-evenly
		-ms-flex-pack: space-evenly
		justify-content: space-evenly
		-webkit-box-align: center
		-ms-flex-align: center
		align-items: center

	section#noah #portrait, article#noah #portrait
		width: 100%
		padding-bottom: 100%
		margin: 0 auto 4rem auto

	section#noah container.title, article#noah container.title
		width: 100%

	header nav a
		margin: 0 0.8rem

	section h1.title, article h1.title
		font-size: 3.5rem

	article grid.small item
		margin: 2rem 0
		width: 50%

	article grid.img item, article grid.img item.active
		width: 100%
		padding-bottom: 100%

	article grid.img.fullsize.alt item
		width: 50%
		padding-bottom: 50%

	article p.quote
		font-size: 1.2rem

	#englishvocab
		width: 100%
		padding-bottom: 100%
